In [12]:
import numpy as np 
from sklearn.datasets import load_iris
import pandas as pd

In [13]:
iris = load_iris()

In [14]:
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [15]:
iris_df = pd.DataFrame(iris.data,columns=iris.feature_names)
iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [16]:
iris_df['target']=iris.target
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [17]:
iris_df['target_name'] = [iris.target_names[i] for i in iris_df['target']]

In [20]:
iris_df[iris_df.target ==1 ].head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_name
50,7.0,3.2,4.7,1.4,1,versicolor
51,6.4,3.2,4.5,1.5,1,versicolor
52,6.9,3.1,4.9,1.5,1,versicolor
53,5.5,2.3,4.0,1.3,1,versicolor
54,6.5,2.8,4.6,1.5,1,versicolor

In [24]:
X = iris_df.drop(["target","target_name"],axis="columns")
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [25]:
y = iris_df["target"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int32

In [21]:
from sklearn.model_selection import train_test_split

In [33]:
X_train ,X_test,Y_train,Y_test = train_test_split(X,y,train_size=0.8)

In [34]:
from sklearn.svm import SVC

In [38]:
model = SVC(C = 3)

In [39]:
model.fit(X_train,Y_train)

SVC(C=3)

In [40]:
model.score(X_test,Y_test)

1.0

In [41]:
model.score(X_train,Y_train)

0.975

# Exercise

In [42]:
from sklearn.datasets import load_digits

In [43]:
digits = load_digits()

In [44]:
dir(digits)

['DESCR', 'data', 'feature_names', 'frame', 'images', 'target', 'target_names']

In [54]:
len(digits.target)

1797

In [55]:
digits_df = pd.DataFrame(digits.data,digits.target)

In [62]:
digits_df.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [63]:
digits_df['target']= digits.target

In [66]:
digits_df

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,target
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,0.0,0.0,4.0,10.0,13.0,6.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,2.0,14.0,15.0,9.0,0.0,0.0,9
0,0.0,0.0,6.0,16.0,13.0,11.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,16.0,14.0,6.0,0.0,0.0,0
8,0.0,0.0,1.0,11.0,15.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,9.0,13.0,6.0,0.0,0.0,8
9,0.0,0.0,2.0,10.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,12.0,16.0,12.0,0.0,0.0,9
8,0.0,0.0,10.0,14.0,8.0,1.0,0.0,0.0,0.0,2.0,...,0.0,0.0,1.0,8.0,12.0,14.0,12.0,1.0,0.0,8

In [68]:
X = digits_df.drop(["target"],axis = 'columns')

In [69]:
X.head(3)

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0

In [70]:
Y = digits_df.target
Y.head(3)

0    0
1    1
2    2
Name: target, dtype: int32

In [80]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,train_size=0.8)

In [81]:
model2 = SVC()

In [82]:
model2.fit(x_train,y_train)

SVC()

In [83]:
model2.score(x_test,y_test)

0.9972222222222222

**kernal = rbf**

In [84]:
model3=SVC(kernel="rbf")
model3.fit(x_train,y_train)
model3.score(x_test,y_test)

0.9972222222222222

**kernal = linear**

In [85]:
model4=SVC(kernel="linear")
model4.fit(x_train,y_train)
model4.score(x_test,y_test)

0.9944444444444445

**kernal = poly**

In [86]:
model4=SVC(kernel="poly")
model4.fit(x_train,y_train)
model4.score(x_test,y_test)

0.9972222222222222

**kernal = sigmoid**

In [87]:
model4=SVC(kernel="sigmoid")
model4.fit(x_train,y_train)
model4.score(x_test,y_test)

0.9333333333333333

**gamma  = scale**

In [88]:
model4=SVC(gamma="scale")
model4.fit(x_train,y_train)
model4.score(x_test,y_test)

0.9972222222222222

**gamma = auto**

In [91]:
model4=SVC(gamma="auto")
model4.fit(x_train,y_train)
model4.score(x_test,y_test)

0.3638888888888889

**varrying value of C**

In [101]:
for i in range(1,100):
    model4=SVC(C=i)
    model4.fit(x_train,y_train)
    
    print(i,model4.score(x_test,y_test))

1 0.9972222222222222
2 0.9972222222222222
3 0.9972222222222222
4 0.9972222222222222
5 0.9944444444444445
6 0.9944444444444445
7 0.9944444444444445
8 0.9944444444444445
9 0.9944444444444445
10 0.9944444444444445
11 0.9944444444444445
12 0.9944444444444445
13 0.9944444444444445
14 0.9944444444444445
15 0.9944444444444445
16 0.9944444444444445
17 0.9944444444444445
18 0.9944444444444445
19 0.9944444444444445
20 0.9944444444444445
21 0.9944444444444445
22 0.9944444444444445
23 0.9944444444444445
24 0.9944444444444445
25 0.9944444444444445
26 0.9944444444444445
27 0.9944444444444445
28 0.9944444444444445
29 0.9944444444444445
30 0.9944444444444445
31 0.9944444444444445
32 0.9944444444444445
33 0.9944444444444445
34 0.9944444444444445
35 0.9944444444444445
36 0.9944444444444445
37 0.9944444444444445
38 0.9944444444444445
39 0.9944444444444445
40 0.9944444444444445
41 0.9944444444444445
42 0.9944444444444445
43 0.9944444444444445
44 0.9944444444444445
45 0.9944444444444445
46 0.9944444444444445
47 0.9944444444444445
48 0.9944444444444445
49 0.9944444444444445
50 0.9944444444444445
51 0.9944444444444445
52 0.9944444444444445
53 0.9944444444444445
54 0.9944444444444445
55 0.9944444444444445
56 0.9944444444444445
57 0.9944444444444445
58 0.9944444444444445
59 0.9944444444444445
60 0.9944444444444445
61 0.9944444444444445
62 0.9944444444444445
63 0.9944444444444445
64 0.9944444444444445
65 0.9944444444444445
66 0.9944444444444445
67 0.9944444444444445
68 0.9944444444444445
69 0.9944444444444445
70 0.9944444444444445
71 0.9944444444444445
72 0.9944444444444445
73 0.9944444444444445
74 0.9944444444444445
75 0.9944444444444445
76 0.9944444444444445
77 0.9944444444444445
78 0.9944444444444445
79 0.9944444444444445
80 0.9944444444444445
81 0.9944444444444445
82 0.9944444444444445
83 0.9944444444444445
84 0.9944444444444445
85 0.9944444444444445
86 0.9944444444444445
87 0.9944444444444445
88 0.9944444444444445
89 0.9944444444444445
90 0.9944444444444445
91 0.9944444444444445
92 0.9944444444444445
93 0.9944444444444445
94 0.9944444444444445
95 0.9944444444444445
96 0.9944444444444445
97 0.9944444444444445
98 0.9944444444444445
99 0.9944444444444445