In [99]:
import pandas as pd
import numpy as np 
from sklearn import linear_model

In [100]:

salary_df = pd.read_csv("salaries.csv")

In [101]:
salary_df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [102]:
input_df = salary_df.drop("salary_more_then_100k",axis = "columns")
input_df

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [103]:
from sklearn.preprocessing import LabelEncoder

In [104]:
company_le = LabelEncoder()
job_le = LabelEncoder()
degree_le = LabelEncoder()

In [105]:
input_df["company_ohe"]=company_le.fit_transform(input_df["company"])
input_df["job_ohe"] = job_le.fit_transform(input_df["job"])
input_df["degree_ohe"]  =degree_le.fit_transform(input_df["degree"])

In [106]:
input_df.head()

  company                  job     degree  company_ohe  job_ohe  degree_ohe
0  google      sales executive  bachelors            2        2           0
1  google      sales executive    masters            2        2           1
2  google     business manager  bachelors            2        0           0
3  google     business manager    masters            2        0           1
4  google  computer programmer  bachelors            2        1           0

In [107]:
train_X = input_df.drop(["company","job","degree"],axis="columns")

In [108]:
train_X.head()

   company_ohe  job_ohe  degree_ohe
0            2        2           0
1            2        2           1
2            2        0           0
3            2        0           1
4            2        1           0

In [109]:
train_Y  = salary_df["salary_more_then_100k"]
train_Y.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [110]:
from sklearn import tree

In [111]:
salary_model = tree.DecisionTreeClassifier()

In [112]:
salary_model.fit(train_X,train_Y)

DecisionTreeClassifier()

In [113]:
salary_model.score(train_X,train_Y)

1.0

In [114]:
salary_model.predict(train_X)

array([0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

## Exercise

In [115]:
titanic_df = pd.read_csv("titanic.csv")
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [116]:
titanic_df = titanic_df.drop(["PassengerId","Name","SibSp","Parch","Ticket","Cabin","Embarked"],axis = "columns")
titanic_df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [117]:
X = titanic_df.drop("Survived",axis="columns")
X.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [118]:
Y = titanic_df.Survived
Y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [119]:
sex_le = LabelEncoder()

In [120]:
X["sex_ohe"]  = sex_le.fit_transform(X.Sex)
X = X.drop("Sex",axis="columns")
X.head()

   Pclass   Age     Fare  sex_ohe
0       3  22.0   7.2500        1
1       1  38.0  71.2833        0
2       3  26.0   7.9250        0
3       1  35.0  53.1000        0
4       3  35.0   8.0500        1

In [121]:
X.Age = X["Age"].fillna(np.mean(X.Age))
X.Fare = X["Fare"].fillna(np.median(X.Fare))

In [122]:
X.head()

   Pclass   Age     Fare  sex_ohe
0       3  22.0   7.2500        1
1       1  38.0  71.2833        0
2       3  26.0   7.9250        0
3       1  35.0  53.1000        0
4       3  35.0   8.0500        1

In [123]:

if X["sex_ohe"].isna().any():
    print("There are NaN values in the 'sex_ohe' column.")
else:
    print("There are no NaN values in the 'sex_ohe' column.")

There are no NaN values in the 'sex_ohe' column.

In [124]:
from sklearn.model_selection import train_test_split

In [135]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,train_size=0.8)

In [136]:
titanic_model = tree.DecisionTreeClassifier()

In [137]:
titanic_model.fit(X_train,Y_train)

DecisionTreeClassifier()

In [138]:
titanic_model.score(X_test,Y_test)

0.8044692737430168

In [139]:
len(X_train)

712

In [140]:
len(X_test)

179

In [141]:
from sklearn.linear_model import LogisticRegression

In [142]:
titanic_model_LR = LogisticRegression()

In [143]:
titanic_model_LR.fit(X_train,Y_train)

LogisticRegression()

In [144]:
titanic_model_LR.score(X_test,Y_test)

0.8268156424581006